{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock %}
    {% block content %}
<div class="row">
    <div class="col-md-5">
        <div class="card mt-2" style="width: 18rem;">
        {% if user.profile.user_profile %}
        <img src="{{user.profile.user_profile.url}}" class="img-fluid" alt="">
        <div class="card-body">
        <h5 class="card-title">{{user.username}}</h5>
        <p class="card-text">{{user.profile.bio}}</h5></p>
        <a href="#" class="btn-sm btn-primary">{{user.profile.contact}}</a>
        </div>
        {% else %}
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4W6xgInhHMPzfDvsq0YvMXgYUJlqzOjM1dA&usqp=CAU" class="img-fluid" alt="">
        <div class="card-body">
        <h5 class="card-title">{{user.username}}</h5>
        </div>
        {% endif %}
    </div>
    </div>
<div class="col-md-7 profile">
    <h2>Please Update Your Profile </h2>
<form action="{% url 'edit-profile' %}" method="POST" enctype="multipart/form-data" class="w-50 h-80 rounded border border-dark mt-2">
        {%csrf_token%}
        {% bootstrap_form form%}
        <input type="submit" class="btn btn-info btn-sm" value="Update">
    </form>
    </div>
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
{% endblock %}

<!-- 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 -->
