{% load bootstrap5 %}
{% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock %}

</head>
<body>
{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}
    <!-- image trigger modal -->
<div class="row row-cols-1  g-4">
<div class="modal fade" id="exampleModal{{post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Project Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <h5>{{post.title}}</h5>
        <p>{{post.description}}</p>
        <p>Posted on {{post.date_posted}}</p>
        <div class="d-flex justify-content-evenly">
        <a href="{{post.url}}" class="btn btn-outline-info">View Site</a>
        <a href="{% url 'rate' post.id %}" class="btn btn-outline-info">RATE NOW</a>
        </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>
    <div class="container-fluid">
    
    <!-- Looping through projects   -->
    <div class="row project">
        <div class="col-md-2"></div>
        <!-- displaying projects projects -->
        <div class="col-md-8">
            <h2 class="text-info">{{ post.title }}</h2>
            <img src="{{post.image.url}}" class="img-thumbnail" alt="Image" onclick="window.open(this.src)">
            <P>{{ post.description}}</P>
            <h5>Technologies used</h5>
            <p>{{post.technologies}}</p>
            <div class="row">
                <div class="col-md-4">
                    <a href="{{post.url}}">Live Site</a>
                </div>
                <div class="col-md-4">
                    <p>Posted: {{post.date_posted|timesince}} ago</p>
                </div>
                <div class="col-md-4">
            </div>
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                aria-controls="offcanvasExample">
                Rate Project
            </button>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Rate Project</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %} {% bootstrap_form form %}
                            <button class="btn btn-success link">Rate</button>
                        </form>
                    </div>
                </div>
            </div>
            <h2>Ratings</h2>
            <table class="table" >
                <th>Username</th>
                <th>Design Rating</th>
                <th>Usability Rating</th>
                <th>Content Rating</th>
                <th>Overal Score</th>
                {% for rating in all_ratings %}
                <tr>
                    <td class="user ">{{ rating.user.username }}</td>
                    <td class="design">{{ rating.design_rate}}</td>
                    <td class="usability">{{ rating.usability_rate}}</td>
                    <td class="content">{{ rating.content_rate }}</td>
                    <td class="average">{{ rating.average_rate }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
    {% block script %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"crossorigin="anonymous"></script>
    {% endblock %}