{%extends 'base.html'%}
{% block content %}
{{block.super}}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for post in post %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <img src="{{post.image.url}}" class="img-responsive" alt="Image" height="90vh">
                <h5 class="card-title">{{post.title }}</h5>
                <p class="card-text">{{ post.description }}</p>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="row">
        <br> <br> <br>
        <h2 class="text-center mt-5">No such Title</h2>
    </div>
    {% endfor %}
</div>
{% endblock %}